  
.container{
  height: 760px;
  width: 1165px;
  background-color:#f0f0f0;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 22px;
  position: relative;

}
#c2{
  position: absolute;
  font-size: 45px;
  margin-left: 270px;
  font-weight: bold;
  margin-top: 50px;
}
#f1{
  height: 280px;
  width:390px;
  margin-top: 140px;
  margin-left: 45px;
}
#f2{
  height: 280px;
  width:665px;
  margin-top: 140px;
  margin-left: 20px;
}
#f3{
  height: 280px;
  width:660px;
  margin-top: 10px;
  margin-left: 45px;
}
#f4{
  height: 280px;
  width:390px;
  margin-top: 10px;
  margin-left:20px;
}
#hp{
  margin-left: 45px;
  font-weight: bold;
  font-size: 45px;
}
.rating{
  /* overflow: scroll;
  scroll-behavior: smooth;
  s */
  height: 210px;
  width: 160px;
  background-color:white;
  border-radius: 15px;
  border: 1px solid rgb(222, 218, 218);
  margin-left: -100px;
  backdrop-filter: blur(30px);
  position: relative;
}
#pp{
  margin-left: 60px;
  margin-top: 60px;
}
.rating1{
  position: absolute;
  height: 210px;
  width: 350px;
  background-color:white;
  border-radius: 15px;
  border: 1px solid rgb(222, 218, 218);
  margin-left: 180px;
  margin-top: -130px;
  /* backdrop-filter: blur(30px); */
}
.rating1:hover {
  background-color:#f0f0f0;
}
.rating img{
  height: 17px;
  width: 120px;
  margin-left: 20px;
  margin-top: 20px;
}
h4{
  margin-left: 20px;
  margin-top: 4px;
}
#t1{
  position: absolute;
  height: 13px;
  width: 17px;
  margin-top: -38px;
  margin-left: 90px;
}
#p8{
  font-size: 13px;
  color: rgb(84, 81, 81);
  margin-left: 17px;
  margin-top: -15px;
}
.rating2{
  position: absolute;
  height: 210px;
  width: 350px;
  background-color:white;
  border-radius: 15px;
  border: 1px solid rgb(222, 218, 218);
  margin-left: 550px;
  margin-top: -150px;
  /* backdrop-filter: blur(30px); */
}
.rating2:hover {
  background-color:#f0f0f0;
}
.rating3{
  position: absolute;
  height: 210px;
  width: 350px;
  background-color:white;
  border-radius: 15px;
  border: 1px solid rgb(222, 218, 218);
  margin-left: 920px;
  margin-top: -150px;
  /* backdrop-filter: blur(30px); */
}
.rating3:hover {
  background-color:#f0f0f0;
}
.rating4{
  height: 210px;
  width: 140px;
  background-color:white;
  border-radius: 15px;
  border: 1px 1px 0 1px solid rgb(10, 10, 10);
  margin-left:1290px;
  filter: blur(1px);
  position: relative;
  margin-top: -150px;
} 
/* stay up to date */
.stay{
  height: 160px;
  width: 1165px;
  background-color:black;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 22px;
  position: relative;
  color: white;
  font-weight: bolder;
}
#stay1{
  position: absolute;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 40px;
}
#stay2{
  margin-left: 40px;
  margin-top: 80px;
  position: absolute;
  font-size: 40px;
}
#inp{
  position: absolute;
  margin-left: 750px;
  margin-top: 30px;
  height: 35px;
  width: 330px;
  border-radius: 25px;
  border: none;
}
#email{
position: absolute;
  height: 20px;
  width: 30px;
  margin-top: 40px;
  margin-left: 1030px;

}
#inp1{
  position: absolute;
  margin-left: 750px;
  margin-top: 80px;
  height: 35px;
  width: 330px;
  border-radius: 25px;
  border: none;
}
.lastdiv{
  height: 480px;
  width: 100%;
  background-color:#f0f0f0;
  margin-top: -85px;
}
#shop1{
  font-weight: bold;
  position: absolute;
  margin-top: 130px;
  margin-left: 50px;
  font-size: 45px;

}
#lastp{
  position: absolute;
  margin-top: 205px;
  margin-left: 50px;
  color: rgb(113, 112, 112);
  font-size: 15px;
}
#lastp1{
  position: absolute;
  margin-top: 230px;
  margin-left: 50px;
  color: rgb(113, 112, 112);
  font-size: 15px;
}
#lastp2{
  position: absolute;
  margin-top: 255px;
  margin-left: 50px;
  color: rgb(113, 112, 112);
  font-size: 15px;
}
#ls{
  height: 40px;
  width: 180px;
  position: absolute;
  margin-left: 50px;
  margin-top: 310px;
}
#lh2{
  position: absolute;
margin-left: 380px;
margin-top: 150px;

}
#llp{
  position: absolute;
  margin-top: 205px;
  margin-left: 380px;
  color: rgb(113, 112, 112);
}
#llp1{
  position: absolute;
  margin-top: 245px;
  margin-left: 380px;
  color: rgb(113, 112, 112);
}
#llp2{
  position: absolute;
  margin-top: 280px;
  margin-left: 380px;
  color: rgb(113, 112, 112);
}
#llp3{
  position: absolute;
  margin-top: 320px;
  margin-left: 380px;
  color: rgb(113, 112, 112);
}

#lh3{
position: absolute;
margin-left: 590px;
margin-top: 150px;

}
#l1{
  position: absolute;
  margin-top: 205px;
  margin-left: 590px;
  color: rgb(113, 112, 112);
}
#l2{
  position: absolute;
  margin-top: 245px;
  margin-left: 590px;
  color: rgb(113, 112, 112);
}
#l3{
  position: absolute;
  margin-top: 280px;
  margin-left: 590px;
  color: rgb(113, 112, 112);
}
#l4{
  position: absolute;
  margin-top: 320px;
  margin-left: 590px;
  color: rgb(113, 112, 112);
}
#lh4{
position: absolute;
margin-left: 790px;
margin-top: 150px;
}
#cs{
  position: absolute;
  margin-top: 205px;
  margin-left: 790px;
  color: rgb(113, 112, 112); 
}
#cs1{
  position: absolute;
  margin-top: 245px;
  margin-left: 790px;
  color: rgb(113, 112, 112); 
}
#cs2{
  position: absolute;
  margin-top: 280px;
  margin-left: 790px;
  color: rgb(113, 112, 112); 
}
#cs3{
  position: absolute;
  margin-top: 320px;
  margin-left: 790px;
  color: rgb(113, 112, 112); 
}
#lh5{
  position: absolute;
  margin-left: 990px;
  margin-top: 150px;
  }
  #Fb{
    position: absolute;
    margin-top: 205px;
  margin-left: 990px;
  color: rgb(113, 112, 112); 
  }
  #Fb1{
    position: absolute;
    margin-top: 245px;
  margin-left: 990px;
  color: rgb(113, 112, 112); 
  }
  #Fb2{
    position: absolute;
    margin-top: 280px;
  margin-left: 990px;
  color: rgb(113, 112, 112); 
  }
  #Fb3{
    position: absolute;
    margin-top: 320px;
  margin-left: 990px;
  color: rgb(113, 112, 112); 
  }
.new6{
  border: 1px solid #a3a1a1;
      width:1157px;
      margin-top: 390px;
      margin-left: 50px;
      position: absolute;
}
#Fb4{
  color: rgb(113, 112, 112); 
  position: absolute;
  margin-top: 420px;
  margin-left: 50px;
}
#ms{
  position: absolute;
  height: 40px;
  width: 290px;
  margin-top: 410px;
  margin-left: 870px;
}
t-shirt{
  cursor: pointer;
}