#productdetail{
    margin-left: 70px;
}
#shirt1121{
    /* position: absolute; */
    height: 490px;
    width: 370px;
    margin-left: 200px;
    margin-top: -20px;
}
#localt{
    height: 159px;
    width: 130px;
    margin-left:-500px;
    margin-top: -15px;
    position: absolute;
}
#localt1{
    height: 159px;
    width: 130px;
    margin-left:-500px;
    margin-top: 140px;
    position: absolute;
}
#localt2{
    height: 159px;
    width: 130px;
    margin-left:-500px;
    margin-top: 300px;
    position: absolute;
}
#onelife{
    font-weight: bolder;
    margin-left:590px;
    margin-top: -490px;
    font-size: 42px;
}
#localt3{
    height:35px ;
    width: 165px;
    margin-left: 590px;
    margin-top: -30px;
}
.productprice{
    font-weight: bold;
    font-size: 20px;
    margin-left: 590px;
    margin-top: 10px;
}
.productp{
    margin-top: -24px;
    margin-left: 55px;
    font-size: 22px;
    color: #a3a1a1;
}
.productd{
    border: 1px solid #a3a1a1;
      width:44px;
      margin-top: -13px;
      margin-left: 55px;
}
.b40{
    position: absolute;
      height: 25px;
      width: 55px;
      margin-top: -15px;
      margin-left: 115px;
      border-radius: 15px;
      color: red;
      background-color: rgb(243, 218, 218);
      border: none;
}
#productpara{
    margin-left: 590px;
    margin-top: 25px;
    color: rgb(105, 100, 100);
}
.producthr{
    border: 1px solid rgb(226, 224, 224);
      width:570px;
      margin-top: 10px;
      margin-left: 590px;
}
#selectcolor{
    margin-left: 590px;
    color: rgb(105, 100, 100);
    font-size: 20px;
}
.sandy{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-left: 30px;
    background-color: rgb(121, 99, 76);
    border: none;
    margin-left: 590px;
    margin-top: -10px;
}
.green{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-left: 70px;
    background-color:rgb(11, 77, 70);
    border: none;
    margin-left: 15px;
    margin-top: -10px; 
}
.blue{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-left: 50px;
    background-color:rgb(51, 51, 83);
    border: none;
    margin-left: 15px;
    margin-top: -10px; 
}

.producthr1{
    border: 1px solid rgb(226, 224, 224);
      width:570px;
      margin-top: 15px;
      margin-left: 590px;
}
#choosesize{
    margin-left: 590px;
    color: rgb(105, 100, 100);
    font-size: 20px;
}
#small{
    background-color:  #f0f0f0;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    color: rgb(105, 100, 100);
    margin-left: 590px;
    margin-top: -10px;
}
#small:hover{
    background-color: black;
    color: white;
}
#Medium{
    background-color:  #f0f0f0;
    height: 40px;
    width: 95px;
    border-radius: 20px;
    border: none;
    color: rgb(105, 100, 100);
    margin-left: 10px;
    margin-top: -10px;
}
#Medium:hover{
    background-color: black;
    color: white;
}
#Large{
    background-color:  #f0f0f0;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    color: rgb(105, 100, 100);
    margin-left: 10px;
    margin-top: -10px;
}
#Large:hover{
    background-color: black;
    color: white;
}

#X-Large{
    background-color:  #f0f0f0;
    height: 40px;
    width: 95px;
    border-radius: 20px;
    border: none;
    color: rgb(105, 100, 100);
    margin-left: 10px;
    margin-top: -10px;
    
}
#X-Large:hover{
    background-color: black;
    color: white;
}
.producthr2{
    border: 1px solid rgb(226, 224, 224);
      width:570px;
      margin-top: 15px;
      margin-left: 590px;
}
#increment1{
    height:35px ;
    width: 130px;
    border-radius: 20px;
    border: none;
    margin-left: 590px;
    margin-top: 20px;
}
#Addc{
    height: 40px;
    width: 430px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}
#Addc:hover{
    background-color: black;
    color: white;
}
#productdetail{
    font-size: 25px;
    margin-top: 45px;
}
.producthr3{
    border: 1.5px solid black;
      width:1110px;
      margin-top: 15px;
      margin-left: 70px;
}
#sleek{
    margin-left: 70px;
    margin-top: 25px;
    font-size: 20px;
    word-spacing: 7px;
}
#lis{
    margin-left: 50px;
    font-size: 20px;
    word-spacing: 7px;
}
.producthr4{
    border: 1.5px solid black;
      width:1120px;
      margin-top: 15px;
      margin-left: 70px;
}